.slide-right-leave-active {
  transform: translateX(-30px);
}

.slide-right-enter {
  transform: translateX(30px);
}

.slide-right-enter,
.slide-right-leave-active {
  opacity: 0;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 3s;
}

.slide-left-leave-active {
  transform: translateX(30px);
}

.slide-left-enter {
  transform: translateX(-30px);
}

.slide-left-enter,
.slide-left-leave-active {
  opacity: 0;
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 3s;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
